{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Templates" />

<f:section name="content">

	<f:flashMessages />

	<div class="tx-moox-community-admin">
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Vorlagen</h1>
		<div class="tx-moox-community-admin-body">
			<div class="tx-moox-community-admin-info">
				<f:if condition="{items -> f:count()}>0">
					<f:then>
						<div class="tx-moox-community-admin-header">
							Derzeit sind folgende Vorlagen angelegt
						</div>
						<div class="tx-moox-community-admin-table">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<thead>
									<tr>
										<th></th>
										<th>Titel</th>										
									</tr>
								</thead>
								<f:render partial="Templates/List" arguments="{_all}" />								
							</table>
						</div>
						<div class="clear"></div>						
					</f:then>
					<f:else>
						<div class="tx-moox-community-admin-noschedules">
							Derzeit sind keine Vorlagen vorhanden.
						</div>
					</f:else>
				</f:if>
			</div>		
		</div>
	</div>

</f:section>