<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-left">{f:translate(key: 'pi1.action_password_recovery.header')}</h3>
		<p>{f:translate(key: 'pi1.action_password_recovery.description')}</p>
		<ul>
			<li>{f:translate(key: 'pi1.action_password_recovery.step.1')}</li>
			<li>{f:translate(key: 'pi1.action_password_recovery.step.2')}</li>
			<li>{f:translate(key: 'pi1.action_password_recovery.step.3', arguments: {0: 48})}</li>
		</ul>							
	</div>
	<div class="panel-body">
		<f:render partial="Form/Fields/Input" arguments="{field: 'username', label: 'pi1.action_password_recovery.username', showLabel: 1, error:errors.username}" />
		<f:render partial="Form/Fields/Input" arguments="{field: 'email', label: 'pi1.action_password_recovery.email', showLabel: 1, error:errors.username}" />
	</div>
</div>