{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-community-register tx-moox-community-register-confirm">					
					
	</div>
</f:section>