{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-community-new-password">		
		<div class="well well-new-password center-block">
			<f:form class="form-vertical" action="{action}" controller="Pi1" noCache="1" method="POST" name="newPassword" id="{action}Form" object="{item}" additionalAttributes="{role: 'form', data-toggle: 'validator'}">
				<f:render partial="Pi1/NewPassword/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">													
					<f:form.button type="submit" class="btn btn-primary" title="{f:translate(key: 'pi1.action_new_password.save')}">		
						<span class="glyphicon glyphicon glyphicon-floppy-saved icon-button"></span>
						{f:translate(key: 'pi1.action_new_password.save')}							
					</f:form.button>					
				</div>				
			</f:form>
		</div>		
	</div>
</f:section>