{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">		
	<div class="tx-moox-community-password-recovery">		
		<div class="well well-register center-block">
			<f:form class="form-vertical" action="{action}" controller="Pi1" noCache="1" method="POST" name="recovery" id="{action}Form" object="{item}">
				<f:render partial="Pi1/PasswordRecovery/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">													
					<f:form.button type="submit" class="btn btn-primary" title="{f:translate(key: 'pi1.action_password_recovery.continue.label')}">		
						<span class="glyphicon glyphicon glyphicon-play icon-button"></span>
						{f:translate(key: 'pi1.action_password_recovery.continue')}							
					</f:form.button>					
				</div>				
			</f:form>
		</div>
	</div>
</f:section>