{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">	
	<div class="tx-moox-community-register">					
		<div class="well well-register center-block">
			<f:form class="form-vertical client-validation" action="{action}" controller="Pi1" noCache="1" enctype="multipart/form-data" method="POST" name="register" id="{action}Form" object="{register}">
				<f:render partial="Pi1/Register/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">								
					<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi1.action_register.register')}">		
						<span class="glyphicon glyphicon-floppy-saved icon-button"></span>
						{f:translate(key: 'pi1.action_register.register')}							
					</f:form.button>																	
				</div>				
			</f:form>			
		</div>			
	</div>
</f:section>