{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi1" />

<f:section name="main">
	<f:if condition="{item}">
		<div class="tx-moox-community-state">					
			<div class="well well-state center-block">
				{f:translate(key: 'pi1.action_state.logged_in_as')}: {item.username}
			</div>			
		</div>
	</f:if>
</f:section>