{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:layout name="Pi4" />

<f:section name="main">	
	<div class="tx-moox-community-edit-group">					
		<div class="well well-sm well-buttons clearfix">			
			<f:link.action action="detailGroup" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_edit_group.back')}" class="pull-right">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-arrow-left icon-button"></span>
					{f:translate(key: 'pi4.action_edit_group.back')}			
				</button>
			</f:link.action>			
		</div>
		<div class="well well-edit center-block">
			<f:form class="form-vertical client-validation" action="{action}" arguments="{item:item}" controller="Pi4" noCache="1" enctype="multipart/form-data" method="POST" name="{action}" id="{action}Form" object="{editGroup}">
				<f:render partial="Pi4/EditGroup/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">								
					<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi4.action_edit_group.save')}">		
						<span class="glyphicon glyphicon-floppy-saved icon-button"></span>
						{f:translate(key: 'pi4.action_edit_group.save')}							
					</f:form.button>																	
				</div>
				<f:form.hidden name="returnUrl" value="{returnUrl}" />
			</f:form>			
		</div>			
	</div>
</f:section>