{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="well well-sm well-membership">
	<div class="row">
		<div class="col-sm-8">
			<strong>{item.feUser2.autoName}</strong> will mit Ihnen befreundet sein.
		</div>
		<div class="col-sm-2">
			<f:link.action action="rejectFriendship" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.feUser2.autoName}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_friendships.confirm_friendship')}" class="reject-friendship pull-right">
				<button type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove icon-button"></span>
					{f:translate(key: 'pi5.action_list_friendships.reject_friendship')}			
				</button>
			</f:link.action>
		</div>
		<div class="col-sm-2">
			<f:link.action action="confirmFriendship" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.feUser2.autoName}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_friendships.confirm_friendship')}" class="confirm-friendship pull-right">
				<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-ok icon-button"></span>
					{f:translate(key: 'pi5.action_list_friendships.confirm_friendship')}			
				</button>
			</f:link.action>
		</div>
	</div>
</div>