{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}			
<v:variable.set name="image" value="{v:iterator.first(haystack:item.fal_images)}" />
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-left">{item.autoName}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<f:if condition="{image}">
				<div class="col-sm-2">
					<f:if condition="{image}">
						<v:media.image src="{image.uid}" alt="{image.title}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="140c" height="140c" />	
					</f:if>
				</div>
			</f:if>
			<div class="col-sm-{f:if(condition:image, then:'10', else:'12')}">
				<f:link.action action="removeFriendship" noCache="1" arguments="{item:item.uid,feUser:feUser.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.autoName}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_friendships.remove_friendship')}" class="remove-friendship pull-right">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-pencil icon-button"></span>
						{f:translate(key: 'pi5.action_list_friendships.remove_friendship')}			
					</button>
				</f:link.action>
				<f:link.action action="detailUser" pageUid="{listGroupsPid}" controller="Pi4" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_user.detail_user')}">							
					<button type="button" class="btn btn-default pull-right">
						<span class="glyphicon glyphicon-search icon-button"></span>						
						{f:translate(key: 'pi5.action_list_friendships.more')}
					</button>
				</f:link.action>
			</div>			
		</div>
	</div>
</div>