{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxCommunity\ViewHelpers}
<div class="moox-ajax-body" id="{v:system.uniqId(prefix: 'moox-ajax-body-')}">	
	<m:widget.paginate objects="{items}" as="paginatedItems" configuration="{itemsPerPage: pagination.itemsPerPage, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 5, order: order, orderByFields: orderByFields, search: search, searchAction:action, searchController:'Pi5', searchPlugin:'Pi4', showQueryField: 0, langPrefix:'list_groups'}">
		<f:if condition="{items->f:count()}>0">
			<f:for each="{paginatedItems}" as="item" iteration="iteration">
				<f:render partial="Pi5/ListMemberships/Item" arguments="{item:item,feUser:feUser,listGroupsPid:listGroupsPid,returnUrl:returnUrl}" />	
			</f:for>
		</f:if>
	</m:widget.paginate>	
	<f:if condition="{items->f:count()}>0">
		<f:else>
			<div class="well well-list center-block">
				<div class="alert alert-info" role="alert">
					{f:translate(key: 'pi5.action_list_memberships.no_items')}
				</div>
			</div>
		</f:else>
	</f:if>
</div>