{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="well well-sm well-buttons clearfix">
	<f:if condition="{returnUrl}==''">
		<v:variable.set name="returnUrl" value="{f:uri.action(action:'listGroups')}" />
	</f:if>
	<a href="{returnUrl}" title="{f:translate(key: 'pi4.action_detail_group.back')}" class="pull-left">
		<button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-arrow-left icon-button"></span>
			{f:translate(key: 'pi4.action_detail_group.back')}			
		</button>
	</a>
	<f:if condition="{isLoggedIn}">
		<f:if condition="{editable}">
			<f:link.action action="editGroup" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_group.edit')}" class="pull-right">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-pencil icon-button"></span>
					{f:translate(key: 'pi4.action_detail_group.edit')}			
				</button>
			</f:link.action>
		</f:if>
		<f:if condition="{isMember}">
			<f:then>
				<f:link.action action="removeMembership" noCache="1" arguments="{item:item.uid}" additionalAttributes="{data-group:item.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi4.action_detail_group.remove_membership')}" class="remove-membership pull-right">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-remove icon-button"></span>
						{f:translate(key: 'pi4.action_detail_group.remove_membership')}			
					</button>
				</f:link.action>
			</f:then>
			<f:else>
				<f:if condition="{isUnconfirmedMember}">
					<f:then>
						<button type="button" class="btn btn-primary pull-right" style="cursor: default">
							<span class="glyphicon glyphicon-time icon-button"></span>
							{f:translate(key: 'pi4.action_detail_group.membership_unconfirmed')}			
						</button>						
					</f:then>
					<f:else>
						<f:link.action action="addMembership" noCache="1" arguments="{item:item.uid}" additionalAttributes="{data-group:item.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi4.action_detail_group.add_membership')}" class="add-membership pull-right">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-plus icon-button"></span>
								{f:translate(key: 'pi4.action_detail_group.add_membership')}			
							</button>
						</f:link.action>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>
</div>
<div class="well well-detail center-block">
	<f:render partial="Pi4/DetailGroup/Fields" arguments="{fields:fields,item:item}" />
	<f:if condition="{isMember}">
		<f:render partial="Pi4/DetailGroup/Fields" arguments="{fields:privateFields,item:item}" />
	</f:if>
	<f:if condition="{streams->f:count()}>0">		
		<f:render partial="Pi4/DetailGroup/Streams" arguments="{streams:streams,item:item}" />
	</f:if>
	<f:if condition="{members->f:count()}>0">		
		<f:render partial="Pi4/DetailGroup/Members" arguments="{members:members,item:item,returnUrl:returnUrl}" />
	</f:if>
</div>