{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
	<div class="panel-heading">{f:translate(key: 'pi4.action_detail_group.members')}</div>
	<div class="panel-body">
		<f:for each="{members}" as="member" iteration="iteration">
			<div>
				<f:link.action action="detailUser" noCache="1" arguments="{item:member.uid,feGroup:item.uid,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_group.detail_user')}">							
					{member.autoName}
				</f:link.action>
			</div>
		</f:for>
	</div>
</div>
