{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxCommunity\ViewHelpers}
<div class="moox-ajax-body" id="{v:system.uniqId(prefix: 'moox-ajax-body-')}">	
	<f:if condition="{items->f:count()}>0">
		<f:for each="{items}" as="item" iteration="iteration">
			{item.title} | {item.latitude}	| {item.longitude} <br>
		</f:for>
	</f:if>
</div>