{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi3" />

<f:section name="main">	
	<f:if condition="{item}">
		<div class="tx-moox-community-logoff">					
			<div class="well well-logoff center-block">
				<f:form class="form-vertical" arguments="{logoff: 1}" action="{action}" controller="Pi3" noCache="1" method="POST">				
					<div class="form-group">
						<label>{f:translate(key: 'pi3.action_logoff.logged_in_as')}:</label>
						<div>
							<div class="form-control-static">
								{item.username}
							</div>
						</div>
					</div>
					<div class="form-buttons form-buttons-bottom clearfix">					
						<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi3.action_logoff.logoff')}">		
							<span class="glyphicon glyphicon-log-off icon-button"></span>
							{f:translate(key: 'pi3.action_logoff.logoff')}								
						</f:form.button>											
					</div>
					<f:form.hidden value="{redirect}" name="redirect" />
				</f:form>
			</div>			
		</div>
	</f:if>
</f:section>