{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Complexify -->
<v:asset.script name="complexify-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="complexify-banlist-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.banlist.js')}" dependencies="complexify-js" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi1 -->		
<f:if condition="{settings.cssfiles.pi2}">
	<f:then>
		<v:asset.style name="moox-community-pi2-css" group="moox-community" path="{settings.cssfiles.pi2}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-community-pi2-css" group="moox-community" path="{f:uri.resource(path:'Css/pi2.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-community-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi2 -->
<v:asset.script name="moox-community-pi2-js" path="{f:uri.resource(path:'JavaScript/pi2.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Lang -->
<v:asset.script name="moox-community-lang-js" path="{f:uri.resource(path:'JavaScript/lang.js')}" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" fluid="1" />
<div class="tx-moox-community tx-moox-community-pi2" id="{v:system.uniqId(prefix: 'tx-moox-marketplace-')}">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>