{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Pi3 -->		
<f:if condition="{settings.cssfiles.pi3}">
	<f:then>
		<v:asset.style name="moox-community-pi3-css" group="moox-community" path="{settings.cssfiles.pi3}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-community-pi3-css" group="moox-community" path="{f:uri.resource(path:'Css/pi3.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-community-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi3 -->
<v:asset.script name="moox-community-pi3-js" path="{f:uri.resource(path:'JavaScript/pi3.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Lang -->
<v:asset.script name="moox-community-lang-js" path="{f:uri.resource(path:'JavaScript/lang.js')}" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" fluid="1" />
<div class="tx-moox-community tx-moox-community-pi3" id="{v:system.uniqId(prefix: 'tx-moox-marketplace-')}">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>