{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Jstree -->
<v:asset.style name="jstree-css" group="moox-community" path="{f:uri.resource(path:'Contrib/Jstree/Css/style.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="jstree-js" path="{f:uri.resource(path:'Contrib/Jstree/Javascript/jstree.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Selectivity -->
<v:asset.style name="selectivity-css" group="moox-community" path="{f:uri.resource(path:'Contrib/Selectivity/Css/selectivity-full.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="selectivity-js" path="{f:uri.resource(path:'Contrib/Selectivity/Javascript/selectivity-full.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Datepicker -->
<v:asset.style name="datepicker-css" group="moox-community" path="{f:uri.resource(path:'Contrib/Datepicker/Css/bootstrap-datepicker3.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="datepicker-js" path="{f:uri.resource(path:'Contrib/Datepicker/Javascript/bootstrap-datepicker.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="datepicker-locales-js" path="{f:uri.resource(path:'Contrib/Datepicker/Javascript/locales/bootstrap-datepicker.de.min.js')}" dependencies="datepicker-js" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Fileinput -->
<v:asset.style name="fileinput-css" group="moox-community" path="{f:uri.resource(path:'Contrib/Fileinput/Css/fileinput.min.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<v:asset.script name="fileinput-js" path="{f:uri.resource(path:'Contrib/Fileinput/Javascript/fileinput.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="fileinput-locales-js" path="{f:uri.resource(path:'Contrib/Fileinput/Javascript/fileinput_locale_de.js')}" dependencies="fileinput-js" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Complexify -->
<v:asset.script name="complexify-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.min.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<v:asset.script name="complexify-banlist-js" path="{f:uri.resource(path:'Contrib/Complexify/Javascript/jquery.complexify.banlist.js')}" dependencies="complexify-js" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Ckeditor -->
<v:asset.script name="ckeditor-js" path="{f:uri.resource(path:'Contrib/Ckeditor/ckeditor.js')}" group="moox-community" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
<!-- Pi4 -->		
<f:if condition="{settings.cssfiles.pi4}">
	<f:then>
		<v:asset.style name="moox-community-pi4-css" group="moox-community" path="{settings.cssfiles.pi4}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-community-pi4-css" group="moox-community" path="{f:uri.resource(path:'Css/pi4.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-community-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi4 -->
<v:asset.script name="moox-community-pi4-js" path="{f:uri.resource(path:'JavaScript/pi4.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<div class="tx-moox-community tx-moox-community-pi4" id="{v:system.uniqId(prefix: 'tx-moox-community-')}">
	<f:flashMessages renderMode="div" />	
	<f:render section="main" />
</div>