{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<!-- Pi5 -->		
<f:if condition="{settings.cssfiles.pi5}">
	<f:then>
		<v:asset.style name="moox-community-pi5-css" group="moox-community" path="{settings.cssfiles.pi5}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:then>
	<f:else>
		<v:asset.style name="moox-community-pi5-css" group="moox-community" path="{f:uri.resource(path:'Css/pi5.css')}" standalone="TRUE" allowMoveToFooter="FALSE" external="1" />
	</f:else>
</f:if>
<!-- Helper -->
<v:asset.script name="moox-community-helper-js" path="{f:uri.resource(path:'JavaScript/helper.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<!-- Pi5 -->
<v:asset.script name="moox-community-pi5-js" path="{f:uri.resource(path:'JavaScript/pi5.js')}" dependencies="jquery" group="moox-community" standalone="TRUE" allowMoveToFooter="TRUE" external="1" />
<div class="tx-moox-community tx-moox-community-pi5" id="{v:system.uniqId(prefix: 'tx-moox-community-')}">
	<f:flashMessages renderMode="div" />
	<f:render section="main" />
</div>