{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<tbody>
	<f:for each="{feUsers}" as="item" iteration="iteration">
		<tr id="feuser-row-{item.uid}" class="tx-moox-community-admin-table-row tx-moox-community-admin-table-row-{f:if(condition: iteration.isEven, then: 'odd', else: 'even')}{f:if(condition: iteration.isLast, then: ' tx-moox-community-admin-table-row-last')}">
			<td class="tx-moox-community-admin-table-options" style="width: 180px">
				<f:form.checkbox class="feuser-checkbox" name="items[]" value="{item.uid}" />
				<f:link.action action="delete" arguments="{uid:item.uid,pagination:pagination}" onclick="return window.confirm('Wollen Sie diesen Benutzer wirklich löschen?')" title="{item.username} [{item.name}] löschen">
					<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-delete">&nbsp;</span>
				</f:link.action>							
				<f:link.action action="edit" arguments="{uid:item.uid,pagination:pagination}" title="{item.username} [{item.name}] bearbeiten">
					<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-open">&nbsp;</span>
				</f:link.action>
				<f:link.action action="toggleState" arguments="{uid:item.uid,pagination:pagination}" title="{item.username} [{item.name}] {f:if(condition: item.disable, then: 'deaktivieren', else: 'aktivieren')}">
					<span class="t3-icon t3-icon-actions t3-icon-actions-edit t3-icon-edit-{f:if(condition: item.disable, then: 'unhide', else: 'hide')}">&nbsp;</span>
				</f:link.action>
				<f:if condition="{mailerActive}">
					<v:variable.set name="showErrors" value="" />
					<f:if condition="{item.bounces -> f:count()}>0">
						<v:variable.set name="showErrors" value="1" />					
					</f:if>
					<f:if condition="{item.errors -> f:count()}>0">
						<v:variable.set name="showErrors" value="1" />					
					</f:if>
					<f:if condition="{showErrors}">
						<f:then>
							<img onclick="mooxCommunityToggleErrors({item.uid})" id="feuser-errors-{item.uid}-expander" class="mailing-errors mailing-errors-expander" src="{f:uri.resource(path:'Icons/icon_has_errors.png')}" width="16" height="16" alt="Fehler anzeigen" title="Fehler anzeigen" />								
						</f:then>
						<f:else>
							<img class="mailing-errors" src="{f:uri.resource(path:'Icons/icon_no_errors.png')}" width="16" height="16" alt="Keine Fehler" title="Keine Fehler" />
						</f:else>
					</f:if>
					<f:link.action action="toggleDisallowMailing" arguments="{uid:item.uid,pagination:pagination}" title="Newsletter-Empfang für {item.username} [{item.name}] {f:if(condition: item.mailingAllowed, then: 'deaktivieren', else: 'aktivieren')}">
						<f:if condition="{item.disallowMailing}">
							<f:then>
								<img class="mailing-state" src="{f:uri.resource(path:'Icons/icon_mailing_disallowed.png')}" width="16" height="16" alt="Newsletter-Empfang aktivieren" title="Newsletter-Empfang aktivieren" />								
							</f:then>
							<f:else>
								<img class="mailing-state" src="{f:uri.resource(path:'Icons/icon_mailing_allowed.gif')}" width="16" height="16" alt="Newsletter-Empfang deaktivieren" title="Newsletter-Empfang deaktivieren" />
							</f:else>
						</f:if>
					</f:link.action>
				</f:if>
				<f:if condition="{folders -> f:count()}>0">
					<div class="feuser-move">
						<f:image id="feuser-move-expander-{item.uid}" class="feuser-move-expander" src="EXT:moox_community/Resources/Public/Icons/icon-move.png" alt="In Ordner verschieben" />	
						<div id="feuser-move-selection-{item.uid}" class="feuser-move-selection">
							<ul>
								<li class="feuser-move-selection-header">In welchen Ordner wollen Sie den Benutzer "{item.username}" verschieben?</li>
								<f:if condition="{page}!='0'">
									<li>								
										<f:link.action action="moveToFolder" arguments="{pid:0,uid:item.uid}" title="UID: 0"><span title="Benutzer ohne Ordner [UID: 0]" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxfeuser">&nbsp;</span>&nbsp;&nbsp;Benutzer ohne Ordner</f:link.action>
									</li>
								</f:if>
								<f:for each="{folders}" as="moveFolder" iteration="iteration2">			
									<f:if condition="{page}!={moveFolder.uid}">
										<li>								
											<f:link.action action="moveToFolder" arguments="{pid:moveFolder.uid,uid:item.uid}" title="UID: {moveFolder.uid}"><f:if condition="{moveFolder.folder}">&nbsp;&nbsp;&nbsp;&nbsp;</f:if><span title="{moveFolder.title} [UID: {moveFolder.uid}]" class="t3-icon t3-icon-tcarecords t3-icon-tcarecords-pages t3-icon-pages-contains-mxfeuser">&nbsp;</span>&nbsp;&nbsp;{moveFolder.title}<span style="float: right" title="Pfad: <f:for each="{moveFolder.rootline}" as="path">\{path.title}</f:for> [UID: {moveFolder.uid}]">[UID: {moveFolder.uid} | Rootpage: {moveFolder.rootpage.title}]</span></f:link.action>
										</li>
									</f:if>
								</f:for>
							</ul>
						</div>
					</div>
				</f:if>
			</td>
			<f:render partial="FeUsersListColums" arguments="{fields: fields, item: item, replacements: replacements, fieldsSeparator: fieldsSeparator}" />	
		</tr>
		<tr class="feuser-details" id="feuser-details-{item.uid}">
			<td colspan="<v:math.sum a="{fields -> f:count()}" b="1" />">
				<f:render partial="FeUserDetails" arguments="{item: item, mailerActive: mailerActive, replacements: replacements, conf: conf}" />
			</td>
		</tr>
		<f:if condition="{mailerActive}">
			<f:if condition="{showErrors}">
				<tr class="feuser-errors" id="feuser-errors-{item.uid}">
					<td colspan="<v:math.sum a="{fields -> f:count()}" b="1" />">
						<div class="feuser-errors-content">	
							<f:if condition="{item.errors -> f:count()}>0">
								<f:render partial="FeUserFails" arguments="{item: item, conf: conf}" />
							</f:if>
							<f:if condition="{item.bounces -> f:count()}>0">
								<f:render partial="FeUserBounces" arguments="{item: item, conf: conf}" />
							</f:if>							
						</div>
					</td>
				</tr>
			</f:if>
		</f:if>
	</f:for>
</tbody>