{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxCommunity\ViewHelpers}
<div class="moox-ajax-body" id="{v:system.uniqId(prefix: 'moox-ajax-body-')}">		
	<div class="well well-sm well-buttons clearfix">			
		<f:link.action action="listAdminGroups" noCache="1" title="{f:translate(key: 'pi5.action_list_group_memberships.back')}">
			<button type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-arrow-left icon-button"></span>
				{f:translate(key: 'pi5.action_list_group_memberships.back')}			
			</button>
		</f:link.action>			
	</div>
	<h2>{feGroup.title}</h2>
	<m:widget.paginate objects="{items}" as="paginatedItems" configuration="{itemsPerPage: pagination.itemsPerPage, insertAbove: 1, insertBelow: 1, maximumNumberOfLinks: 5, order: order, orderByFields: orderByFields, search: search, searchAction:action, searchController:'Pi5', searchPlugin:'Pi4', showQueryField: 0, langPrefix:'list'}">		
		<f:if condition="{items->f:count()}>0">
			<f:for each="{paginatedItems}" as="item" iteration="iteration">
				<f:render partial="Pi5/ListGroupMemberships/Item" arguments="{item:item,feGroup:feGroup,returnUrl:returnUrl}" />	
			</f:for>
		</f:if>
	</m:widget.paginate>	
	<f:if condition="{items->f:count()}>0">
		<f:else>
			<div class="well well-list center-block">
				<div class="alert alert-info" role="alert">
					{f:translate(key: 'pi5.action_list_group_memberships.no_items')}
				</div>
			</div>
		</f:else>
	</f:if>
</div>