{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}			
<v:variable.set name="image" value="{v:iterator.first(haystack:item.images)}" />
<v:variable.set name="isModerator" value="0" />
<f:for each="{feGroup.communityModerators}" as="communityModerator">
	<f:if condition="{communityModerator.uid}=={item.uid}">
		<v:variable.set name="isModerator" value="1" />
	</f:if>
</f:for>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-left">{item.autoName}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<f:if condition="{image}">
				<div class="col-sm-2">
					<f:if condition="{image}">
						<v:media.image src="{image.uid}" alt="{image.title}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="140c" height="140c" />	
					</f:if>
				</div>
			</f:if>
			<div class="col-sm-{f:if(condition:image, then:'10', else:'12')}">
				<p>{item.email}</p>													
				<f:if condition="{isModerator}">
					<f:then>
						<f:link.action action="removeModerator" noCache="1" arguments="{item:feGroup.uid,feUser:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.autoName,data-group:feGroup.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_group_memberships.remove_moderator')}" class="remove-moderator-admin pull-left">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-user icon-button"></span>
								{f:translate(key: 'pi5.action_list_group_memberships.remove_moderator')}			
							</button>
						</f:link.action>						
					</f:then>
					<f:else>
						<f:link.action action="addModerator" noCache="1" arguments="{item:feGroup.uid,feUser:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.autoName,data-group:feGroup.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_group_memberships.add_moderator')}" class="add-moderator-admin pull-left">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-user icon-button"></span>
								{f:translate(key: 'pi5.action_list_group_memberships.add_moderator')}			
							</button>
						</f:link.action>
					</f:else>
				</f:if>				
				<f:link.action action="removeMembership" noCache="1" arguments="{item:feGroup.uid,feUser:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.autoName,data-group:feGroup.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_group_memberships.remove_membership')}" class="remove-membership-admin pull-right">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-remove icon-button"></span>
						{f:translate(key: 'pi5.action_list_group_memberships.remove_membership')}			
					</button>
				</f:link.action>				
			</div>			
		</div>
	</div>
</div>