{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="text-left">{f:translate(key: 'pi1.action_new_password.header')}</h3>
		<p>{f:translate(key: 'pi1.action_new_password.description')}</p>
	</div>
	<div class="panel-body">
		<v:variable.set name="error_repeat" value="{v:variable.get(name: 'errors.{field.key}_repeat')}" />
		<f:render partial="Form/Fields/Password" arguments="{field: 'password', label: 'pi1.action_new_password.password', showLabel: 1, complexify:1, config: {required: 1}, repeat: 1, error:errors.password, error_repeat:errors.password_repeat}" />
		<f:form.hidden property="uid" />
		<f:form.hidden property="hash" />						
	</div>
</div>

