{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}			
<v:variable.set name="image" value="{v:iterator.first(haystack:item.images)}" />
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title text-left">{item.title}<small class="pull-right">{f:translate(key: 'form.zip')}: {item.zip}</small></h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<f:if condition="{image}">
				<div class="col-sm-2">
					<f:if condition="{image}">
						<v:media.image src="{image.uid}" alt="{image.title}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="140c" height="140c" />	
					</f:if>
				</div>
			</f:if>
			<div class="col-sm-{f:if(condition:image, then:'10', else:'12')}">
				<p>{item.info -> f:format.crop(maxCharacters:200,respectWordBoundaries:1,respectHtml:1) -> f:format.raw()}</p>													
				<f:link.action action="detailGroup" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}">
					<button type="button" class="btn btn-default pull-right">
						<span class="glyphicon glyphicon-search icon-button"></span>
						{f:translate(key: 'pi4.action_list_groups.more')}
					</button>
				</f:link.action>
			</div>			
		</div>
	</div>
</div>