{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')} has-feedback has-clear">
	<f:if condition="{config.extkeyUCC}!=''">
		<f:then>			
			<v:variable.set name="label" value="{f:translate(key: label, extensionName:config.extkeyUCC)}" />			
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: label)}" />
		</f:else>
	</f:if>	
	<f:if condition="{config.required}">		
		<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
		<v:variable.set name="class" value=" required" />
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value=" validate" />
	</f:if>
	<f:if condition="{config.maxitems}!=''">
		<f:then>			
			<v:variable.set name="maxitems" value="{config.maxitems}" />			
		</f:then>
		<f:else>
			<v:variable.set name="maxitems" value="10000" />
		</f:else>
	</f:if>
	<f:if condition="{config.reference-type}=='image'">
		<f:then>			
			<v:variable.set name="reference-type" value="image" />			
		</f:then>
		<f:else>
			<v:variable.set name="reference-type" value="file" />
		</f:else>
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<f:if condition="{maxitems}>1">
			<f:then>
				<div class="row">
					<div class="col-md-12">
						<label class="control-label" for="{field}">{label}</label>
					</div>		
				</div>	
			</f:then>
			<f:else>
				<label class="control-label" for="{field}">{label}</label>
			</f:else>
		</f:if>
	</f:if>
	</f:if>
	<f:if condition="{files -> f:count()}<{maxitems}">
		<f:then>
			<div class="row">
				<div class="col-md-8">
					<f:form.upload additionalAttributes="{config.data}" property="{field}" class="col-md-9 form-control single-{reference-type}{validate-class}" />
				</div>
				<div class="col-md-4">
					<f:form.button type="button" class="btn btn-primary btn-block btn-file-add" additionalAttributes="{config.data}" property="{field}_add" title="{f:translate(key: 'pi1.action_all.add_image')}">		
						<span class="glyphicon glyphicon-plus icon-button"></span>
						{f:translate(key: 'pi1.action_all.add')}							
					</f:form.button>
				</div>		
			</div>
		</f:then>
		<f:else>
			<f:form.upload additionalAttributes="{config.data}" property="{field}" class="form-control single-{reference-type}{validate-class}" />
		</f:else>
	</f:if>
	<f:if condition="{files -> f:count()}>0">	
		<div class="well well-sm well-file-preview">
			<f:for each="{files}" as="file" iteration="iteration">				
				<f:if condition="{file.reference}">
					<f:then>
						<f:form.button type="button" class="btn btn-file-remove" property="{field}_remove_{file.reference.uid}" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{f:translate(key: 'pi1.action_all.remove_image')}">
							<v:media.image src="{file.reference}" alt="{file.name}" treatIdAsReference="1" class="img-responsive img-thumbnail" width="100c" height="100c" />
						</f:form.button>
						<v:variable.set name="index" value="{file.reference.uid}" />
					</f:then>
					<f:else>
						<f:form.button type="button" class="btn btn-file-remove" property="{field}_remove_{iteration.index}" additionalAttributes="{data-toggle:'tooltip',data-placement:'top'}" title="{f:translate(key: 'pi1.action_all.remove_image')}">
							<v:media.image src="{file.src}" alt="{file.name}" class="img-responsive img-thumbnail" width="100c" height="100c" />
						</f:form.button>
						<v:variable.set name="index" value="{iteration.index}" />
					</f:else>
				</f:if>				
				<f:form.hidden name="{action}[{field}_tmp][{index}][name]" value="{file.name}" class="{field}_files" />
				<f:form.hidden name="{action}[{field}_tmp][{index}][src]" value="{file.src}" />
				<f:form.hidden name="{action}[{field}_tmp][{index}][ext]" value="{file.ext}" />
				<f:form.hidden name="{action}[{field}_tmp][{index}][size]" value="{file.size}" />
				<f:if condition="{file.object}!=''">
					<f:form.hidden name="{action}[{field}_tmp][{index}][object]" value="{file.object}" />
				</f:if>
			</f:for>
		</div>
	</f:if>
</div>