{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')}">	
	<v:variable.set name="label" value="{f:translate(key: label)}" />
	<f:comment>
		<v:variable.set name="label_none" value="{f:translate(key: 'form.gender.none')}" />
		<v:variable.set name="label_male" value="{f:translate(key: 'form.gender.male')}" />
		<v:variable.set name="label_female" value="{f:translate(key: 'form.gender.female')}" />
	</f:comment>
	<f:if condition="{config.required}">		
		<v:variable.set name="label" value="{label} *{f:translate(key: 'form.required')}" />
		<v:variable.set name="class" value=" required" />
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value=" validate" />
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<label class="control-label" for="{field.key}">{label}</label>
	</f:if>
	</f:if>
	<f:comment>
		<f:form.select property="{field}" additionalAttributes="{config.data}" options="{0:label_none,1:label_male,2:label_female}" class="form-control{validate-class}" />	
	</f:comment>
	<f:form.select property="{field}" additionalAttributes="{config.data}" options="{config.items}" class="form-control{validate-class}" />	
</div>