{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')} has-feedback has-clear">
	<v:variable.set name="label_password" value="{f:translate(key: label)}" />
	<f:if condition="{config.required}">		
		<v:variable.set name="label_password" value="{label_password} *{f:translate(key: 'form.required')}" />		
	</f:if>
	<f:if condition="{config.validate}">		
		<v:variable.set name="validate-class" value=" validate" />
	</f:if>
	<f:if condition="{showLabel}">
	<f:if condition="{label_password}!=''">
		<label class="control-label" for="{field}">{label_password}</label>
	</f:if>
	</f:if>
	<f:if condition="{complexify}">
		<v:variable.set name="complexify-class" value=" complexify" />
	</f:if>
	<f:form.textfield type="password" additionalAttributes="{config.data}" property="{field}" placeholder="{label_password}" class="form-control{complexify-class}{validate-class}" />
	<span class="clearer glyphicon glyphicon-remove form-control-feedback form-control-clear" aria-hidden="true"></span>	
</div>
<f:if condition="{complexify}">
	<div class="progress">
		<div id="complexity-bar" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%"></div>
	</div>
</f:if>
<f:if condition="{repeat}">
	<div class="form-group{f:if(condition:error_repeat,then:' has-error')} has-feedback has-clear">
		<v:variable.set name="label_repeat" value="{label}_repeat" />
		<v:variable.set name="label_repeat" value="{f:translate(key: label_repeat)}" />
		<f:if condition="{config.required}">		
			<v:variable.set name="label_repeat" value="{label_repeat} *{f:translate(key: 'form.required')}" />
		</f:if>
		<f:if condition="{showLabel}">
		<f:if condition="{label_repeat}!=''">
			<label class="control-label" for="{field}">{label_repeat}</label>
		</f:if>
		</f:if>
		<f:form.textfield type="password" additionalAttributes="{config.data}" property="{field}_repeat" placeholder="{label_repeat}" class="form-control" />		
		<span class="clearer glyphicon glyphicon-remove form-control-feedback form-control-clear" aria-hidden="true"></span>	
	</div>
</f:if>