{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="form-group{f:if(condition:error,then:' has-error')}">
	<f:if condition="{label_none}==''">
		<v:variable.set name="label_none" value="form.{field.key}.select" />		
	</f:if>
	<v:variable.set name="label_none" value="{f:translate(key: label_none)}" />
	<f:if condition="{showLabel}">
	<f:if condition="{label}!=''">
		<label class="control-label" for="{field}">{f:translate(key: label)}</label>
	</f:if>
	</f:if>
	<f:form.select property="{field}" prependOptionValue="0" prependOptionLabel="{label_none}" options="{options}" class="form-control" />	
</div>