<div class="panel panel-default">
	<div class="panel-heading">
		<h3>{f:translate(key: 'pi2.action_login')}</h3>
	</div>
	<div class="panel-body">
		<f:render partial="Form/Fields/Default" arguments="{field: 'username', label: 'pi2.action_login.username', showLabel: 1, error:errors.username}" />
		<f:render partial="Form/Fields/Password" arguments="{field: 'password', label: 'pi2.action_login.password', showLabel: 1, error:errors.password}" />
		<f:if condition="{settings.allowPermanentLogin}">
			<div class="checkbox">
				<label>
					<f:form.checkbox property="permanent" value="1" /> {f:translate(key: 'pi2.action_login.stay_logged_in')}
				</label>
			</div>
		</f:if>
		<f:form.hidden value="{redirect}" name="redirect" />
	</div>
</div>
