{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="well well-sm well-buttons clearfix">
	<f:if condition="{feGroup}>0">			
		<f:then>
			<f:link.action action="detailGroup" noCache="1" arguments="{item:feGroup,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_user.back')}">
				<button type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-arrow-left icon-button"></span>
					{f:translate(key: 'pi4.action_detail_user.back')}			
				</button>
			</f:link.action>
		</f:then>
		<f:else>
			<f:if condition="{returnUrl}!=''">
				<a href="{returnUrl}" title="{f:translate(key: 'pi4.action_detail_user.back')}" class="pull-left">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-arrow-left icon-button"></span>
						{f:translate(key: 'pi4.action_detail_user.back')}			
					</button>
				</a>
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{isLoggedIn}">		
		<f:if condition="{isFriend}">
			<f:then>
				<f:link.action action="removeFriendship" noCache="1" arguments="{item:item.uid,feGroup:feGroup}" additionalAttributes="{data-user:item.autoName}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi4.action_detail_user.remove_friendship')}" class="remove-friendship pull-right">
					<button type="button" class="btn btn-primary">
						<span class="glyphicon glyphicon-remove icon-button"></span>
						{f:translate(key: 'pi4.action_detail_user.remove_friendship')}			
					</button>
				</f:link.action>
			</f:then>
			<f:else>
				<f:if condition="{isUnconfirmedFriend}">
					<f:then>
						<button type="button" class="btn btn-primary pull-right" style="cursor: default">
							<span class="glyphicon glyphicon-time icon-button"></span>
							{f:translate(key: 'pi4.action_detail_user.friendship_unconfirmed')}			
						</button>						
					</f:then>
					<f:else>
						<f:if condition="{isMyself}">
							<f:else>
								<f:link.action action="addFriendship" noCache="1" arguments="{item:item.uid,feGroup:feGroup}" additionalAttributes="{data-user:item.autoName}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi4.action_detail_user.add_friendship')}" class="add-friendship pull-right">
									<button type="button" class="btn btn-primary">
										<span class="glyphicon glyphicon-plus icon-button"></span>
										{f:translate(key: 'pi4.action_detail_user.add_friendship')}			
									</button>
								</f:link.action>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>
</div>
<div class="well well-detail center-block">
	<f:render partial="Pi4/DetailUser/Fields" arguments="{fields:fields,item:item}" />
	<f:if condition="{isFriend}">
		<f:render partial="Pi4/DetailUser/Fields" arguments="{fields:privateFields,item:item}" />
	</f:if>
	<f:if condition="{streams->f:count()}>0">		
		<f:render partial="Pi4/DetailUser/Streams" arguments="{streams:streams,item:item}" />
	</f:if>
	<f:if condition="{friends->f:count()}>0">
		<f:render partial="Pi4/DetailUser/Friends" arguments="{friends:friends,feGroup:feGroup,item:item}" />
	</f:if>
	<f:if condition="{groups->f:count()}>0">
		<f:render partial="Pi4/DetailUser/Groups" arguments="{groups:groups,item:item}" />
	</f:if>
</div>