{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
	<div class="panel-heading">{f:translate(key: 'pi4.action_detail_user.friends')}</div>
	<div class="panel-body">
		<f:for each="{friends}" as="friend" iteration="iteration">
			<div>
				<f:link.action action="detailUser" noCache="1" arguments="{item:friend.uid,feGroup:feGroup,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_user.detail_user')}">							
					{friend.autoName}
				</f:link.action>
			</div>
		</f:for>
	</div>
</div>
