{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="panel panel-default">
	<div class="panel-heading">{f:translate(key: 'pi4.action_detail_user.groups')}</div>
	<div class="panel-body">
		<f:for each="{groups}" as="group" iteration="iteration">
			<div>
				<f:link.action action="detailGroup" noCache="1" arguments="{item:group.uid,returnUrl:returnUrl}" title="{f:translate(key: 'pi4.action_detail_user.detail_group')}">							
					{group.title}
				</f:link.action>
			</div>		
		</f:for>
	</div>
</div>
