{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<f:for each="{streams}" as="stream">
	<f:if condition="{stream.items->f:count()}>0">
		<h2>{stream.label}</h2>
		<f:for each="{stream.items}" as="streamItem" iteration="iteration">
			<div class="panel panel-default">
				<div class="panel-heading">{streamItem.title}<small class="pull-right">{streamItem.crdate -> f:format.date(format: 'd.m.Y')}</small></div>
				<div class="panel-body">
					<f:if condition="{streamItem.teaser}!=''">
						<f:then>
							{streamItem.teaser -> f:format.raw()}
						</f:then>
						<f:else>
							{streamItem.bodytext -> f:format.crop(maxCharacters: 200) -> f:format.raw()}
						</f:else>
					</f:if>
				</div>
			</div>
		</f:for>
	</f:if>
</f:for>