{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<tr>
	<td>{companyUser.username}</td>
	<td>{companyUser.name}</td>	
	<td>{companyUser.email}</td>
	<td style="text-align: right">
		<f:link.action action="edit" arguments="{editUser:companyUser}" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_list.action.edit')}">
			<button type="button" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-pencil"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_list.action.edit')}
			</button>
		</f:link.action>
		<f:link.action action="delete" arguments="{deleteUser:companyUser}" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_list.action.delete')}" onclick="return window.confirm('{f:translate(key: 'tx_mooxcommunity_frontenduser_action_list.action.delete.confirm')}')">
			<button type="button" class="btn btn-danger btn-xs">
				<span class="glyphicon glyphicon-remove"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_list.action.delete')}
			</button>
		</f:link.action>
	</td>
</tr>
