{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="List" />

<f:section name="content">	
	<div class="tx-moox-community-admin">	
		<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> Frontend-Benutzer</h1>
		<div class="tx-moox-community-admin-body">			
			<div class="tx-moox-community-admin-filter tx-moox-community-admin-filter-folder">
				<div class="filter-field">					
					<div id="selected-folder">
						<img class="current-folder-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
						<span id="folder-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
						<span class="pointer folder" title="<f:if condition="{page}>0"><f:then>Pfad: <f:for each="{rootline}" as="path">\{path.title}</f:for> [UID: {page}]</f:then><f:else>Benutzer ohne Ordner</f:else></f:if>"><f:if condition="{folder}">{v:page.info(pageUid: folder, field: 'title')} / </f:if><f:if condition="{page}>0"><f:then>{v:page.info(pageUid: page, field: 'title')}&nbsp;&nbsp;&nbsp;[UID: {page} | Rootpage: {rootpage.title}]</f:then><f:else>Benutzer ohne Ordner</f:else></f:if></span>
					</div>
					<div class="clear"></div>
				</div>				
				<div class="folder-list" id="folder-list">
					<f:if condition="{folders}">
						<f:then>
							<f:render partial="FolderList" arguments="{page: page, folders: folders}" />
						</f:then>
						<f:else>
							<div class="folder-noothers">Keine anderen Ordner gefunden</div>
						</f:else>
					</f:if>
					<div class="folder-list-footer">							
						<a href="#" id="folder-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
					</div>
				</div>
			</div>
			<f:if condition="{page}>0">
				<div class="tx-moox-community-admin-filter tx-moox-community-admin-filter-group">
					<div class="filter-field">					
						<div id="selected-group">
							<v:switch value="{filter.group}">
								<v:case case="all" break="TRUE">
									<v:variable.set name="currentFeGroup" value="Alle Benutzer" />
								</v:case>
								<v:case case="nogroup" break="TRUE">
									<v:variable.set name="currentFeGroup" value="Benutzer ohne Gruppe" />
								</v:case>
								<v:case case="default">
									<v:variable.set name="currentFeGroup" value="{feGroup.title}&nbsp;&nbsp;&nbsp;[UID: {feGroup.uid}]" />
								</v:case>
							</v:switch>
							<img class="current-group-icon pointer" width="16" height="16" alt="Liste" align="center" title="Liste" src="../typo3/sysext/t3skin/icons/module_web_list.gif">
							<span id="group-expander" class="pointer t3-icon t3-icon-actions t3-icon-actions-move t3-icon-move-down">&nbsp;</span>
							<span class="pointer group" title="{currentFeGroup}">{currentFeGroup -> f:format.raw()}</span>
						</div>
						<div class="clear"></div>
					</div>				
					<div class="group-list" id="group-list">
						<f:if condition="{feGroups}">
							<f:then>
								<f:render partial="FeGroupList" arguments="{group: filter.group, feGroups: feGroups}" />
							</f:then>
							<f:else>
								<div class="group-noothers">Keine Gruppen im gewählten Ordner gefunden</div>
							</f:else>
						</f:if>
						<div class="group-list-footer">							
							<f:link.action action="addGroup" class="group-add" title="Neue Benutzergruppe anlegen">
								<img class="group-add-icon" width="16" height="16" align="left" src="{f:uri.resource(path:'Icons/icon_group_add.png')}">Neue Benutzergruppe anlegen
							</f:link.action>
							<a href="#" id="group-list-close" class="pointer" title="schließen">schließen <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span></a>
						</div>
					</div>
				</div>
			</f:if>
			<div class="tx-moox-community-admin-filter">
				<f:form noCache="1" method="POST" id="filterForm" name="filter" object="{filter}">
					<div class="filter-field">						
						<f:form.select property="mailing" id="filter-mailing" class="filter-mailing" options="{0:'Zeige alle Benutzer',1:'Zeige nur Newsletter-Empfänger',2:'Zeige nur Benutzer die keine Newsletter empfangen'}" />
						<f:form.select property="state" id="filter-state" class="filter-state" options="{0:'aktivierte und deaktivierte',1:'nur aktivierte',2:'nur deaktivierte'}" />
						<f:form.select property="quality" id="filter-quality" class="filter-quality" options="{all:'Alle Qualitätstufen',0:'Qualitätstufe [Ok]',1:'Qualitätstufe [Warnung]',2:'Qualitätstufe [Fehlerhaft]'}" />
						<f:form.select property="perPage" id="filter-per-page" class="filter-per-page" options="{10:'10 Benutzer pro Seite',25:'25 Benutzer pro Seite',50:'50 Benutzer pro Seite',100:'100 Benutzer pro Seite'}" />
					</div>
					<div class="filter-field">	
						<f:form.textfield type="text" property="query" id="filter-query" class="filter-query" placeholder="Suchbegriff eingeben" id="filter-query" />
						<f:form.submit property="submit" id="filter-submit" class="filter-submit" value="suchen" />
						<div class="clear"></div>
					</div>
				</f:form>
			</div>
			<div class="tx-moox-community-admin-info">
				<f:if condition="{feUsers -> f:count()}>0">
					<f:then>						
						<f:be.widget.paginate objects="{feUsers}" as="paginatedFeUsers" configuration="{itemsPerPage: filter.perPage}">
							<f:form action="multiple" method="POST" arguments="{pagination:pagination}" id="selectForm" object="{selection}">
								<div class="tx-moox-community-admin-table">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<thead>
											<tr>
												<th><f:form.checkbox title="Alle wählen/abwählen" name="feuser-check-all-top" class="feuser-check-all feuser-check-all-top" value="checkall" /></th>
												<f:for each="{fields}" as="field" iteration="iteration">
													<f:render partial="FeUsersListHeader" arguments="{filter: filter, field: field, isLast: iteration.isLast}" />																						
												</f:for>
											</tr>
										</thead>
										<f:render partial="FeUsersList" arguments="{feUsers: paginatedFeUsers, pagination: pagination, mailerActive: mailerActive, replacements: replacements, fields: fields, fieldsSeparator: fieldsSeparator, conf: conf, folders:folders, page:page}" />								
									</table>									
								</div>
								<div class="tx-moox-community-admin-table-footer">
									<div id="tx-moox-community-admin-multiple-selector">
										<f:form.checkbox title="Alle wählen/abwählen" name="feuser-check-all-bottom" class="feuser-check-all feuser-check-all-bottom" value="checkall" />
										<div id="tx-moox-community-admin-multiple-selector-txt">
											Keine Benutzer gewählt
										</div>
										<f:form.select name="function" class="feuser-multiple-function-select" options="{delete:'Benutzer löschen',show:'Benutzer aktivieren',hide:'Benutzer deaktivieren',mailon:'Mailempfang erlauben',mailoff:'Mailempfang unterbinden',csvexport:'Als CSV-Datei exportieren'}" />
										<f:form.submit class="feuser-multiple-function-submit" value="Ausführen" />
									</div>
									<div id="tx-moox-community-admin-export-buttons">
										<f:link.action class="feuser-export-button" action="csvFilteredExport" additionalParams="{id:page}">
											Benutzer exportieren
										</f:link.action>
									</div>
									<div class="clear"></div>
								</div>
							</f:form>
						</f:be.widget.paginate>
						<div class="clear"></div>						
					</f:then>
					<f:else>
						<div class="tx-moox-community-admin-nofeusers">
							Derzeit sind keine Benutzer in diesem Ordner vorhanden.
						</div>
					</f:else>
				</f:if>
			</div>		
		</div>
	</div>

</f:section>