.tx-moox-community-pi1 {
	
}
#tx-moox-community-overlay {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px; 
    margin-top: -50px; 
}
#tx-moox-community-ajaxquery {	
	color: #666666;
	padding: 10px;
	border: 2px solid #d6e9c6;
	background-color: #dff0d8;
	display: none;
	max-height: 200px;
	border-radius: 4px;
	overflow: auto;
	margin-bottom: 15px;
}
#tx-moox-community-ajaxquery strong {
	width: 60px;
	display: inline-block;
	background-color: #FFFFFF;
	padding: 3px;
	margin-bottom: 2px;
}
#tx-moox-community-ajaxquery a {
	font-weight: normal;	
}
.tx-moox-community-pi1 .tx-moox-community-pi1-tabs {
	margin-bottom: 15px;
}
.tx-moox-community-pi1 .tx-moox-community-pi1-form-buttons {
	text-align: right;
	margin-top: 1px;
	margin-bottom: 1px;
}
.tx-moox-community-pi1 .typo3-messages {
	padding-bottom: 13px;
}
.tx-moox-community-pi1 .typo3-messages .typo3-message {
	padding: 15px;
	margin-bottom: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.tx-moox-community-pi1 .typo3-messages .message-ok {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}
.tx-moox-community-pi1 .typo3-messages .message-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
}
.tx-moox-community-pi1 .typo3-messages .message-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.tx-moox-community-pi1 .typo3-messages .message-notice {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}
.tx-moox-community-pi1 .typo3-messages .message-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}
.tx-moox-community-pi1 .typo3-messages .message-header {
	float: left;
	font-weight: bold;
	margin-right: 5px;
}
.tx-moox-community-pi1 .typo3-messages .message-body {

}
.tx-moox-community-pi1 .icon-list, .tx-moox-community-pi1 .icon-button, .tx-moox-community-pi1 .typo3-messages .icon-alert {
	margin-right: 5px;
}
/* Remove Internet Explorer native clear button */
.tx-moox-community-pi1 .has-feedback.has-clear  input::-ms-clear  {
        display: none;
}  
.tx-moox-community-pi1 .has-feedback.has-clear .form-control-clear {
		
	margin-right: 5px;	
	color: #bbb;
	color: rgba(0, 0, 0, 0.4);

	/*
	 * Enable pointer events as they have been disabled since Bootstrap 3.3
	 * See https://github.com/twbs/bootstrap/pull/14104
	 */
	pointer-events: auto;	
}
.tx-moox-community-pi1 .has-feedback.has-clear .form-control-clear:hover {
	color: #777;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}	
.tx-moox-community-pi1 .has-feedback.has-clear.has-empty-value .form-control-clear {
    display: none;
}
.tx-moox-community-pi1 .well.well-profile .well-file-preview, .tx-moox-community-pi1 .well.well-register .well-file-preview {
	margin-bottom: 0px;
	margin-top: 10px;
	background-color: #FFF;
}
.tx-moox-community-pi1 .well.well-profile .well-file-preview button.btn, .tx-moox-community-pi1 .well.well-register .well-file-preview button.btn {
	padding: 0px;
	border: 0px;
	margin-left: 3px;
	margin-right: 3px;
}
.tx-moox-community-pi1 .well.well-profile .well-file-preview button.btn:hover img, .tx-moox-community-pi1 .well.well-register .well-file-preview button.btn:hover img {
	filter:alpha(opacity=50); /* IE */
	opacity:0.5; /* allgemein */
	-moz-opacity:0.5; /* Mozilla */
	-khtml-opacity:0.5; /* KTHML */
	-opera-opacity:0.5; /* Opera */
}
.tx-moox-community-pi1 .file-input .file-preview {
	padding: 0px;
	border: 0px;
}
.tx-moox-community-pi1 .file-input .file-preview .file-error-message {
	text-align: left;
}
.tx-moox-community-pi1 .file-input .file-preview .fileinput-remove {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 18px;
}

.tx-moox-community-pi1 .btn-file {
	overflow: hidden;
	height: 34px;
}

.tx-moox-community-pi1 .btn-file i {
	display: none;
}

.tx-moox-community-pi1 input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
.tx-moox-community-pi1 input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
.tx-moox-community-pi1 input[type="search"]::-webkit-search-decoration,
.tx-moox-community-pi1 input[type="search"]::-webkit-search-cancel-button,
.tx-moox-community-pi1 input[type="search"]::-webkit-search-results-button,
.tx-moox-community-pi1 input[type="search"]::-webkit-search-results-decoration { display: none; }