{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<v:variable.set name="cssFile" value="{f:uri.resource(path:'Css/templates.css')}" />

<f:be.container includeCssFiles="{admincss: cssFile}" loadExtJs="false" loadExtJsTheme="false" enableJumpToUrl="false" enableClickMenu="false" extJsAdapter="jQuery" loadJQuery="true" loadPrototype="false">
	<div class="typo3-fullDoc tx-moox-community-admin">
		<div id="typo3-docheader">			
			<div class="typo3-docheader-functions">				
				<div class="left">
					<f:be.buttons.csh />						
					<f:comment>
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="Vorlagen" controller="Template" action="index" />
							<f:be.menus.actionMenuItem label="Frontend-Benutzer" controller="Administration" action="index" />
							<f:be.menus.actionMenuItem label="Import" controller="Import" action="index" />						
						</f:be.menus.actionMenu>
					</f:comment>
				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>			
		</div>		
		<f:form action="{action}" controller="Template" noCache="1" method="POST" id="{action}TemplateForm" name="{action}" object="{item}">
			<div class="typo3-docheader-buttons">
				<div class="buttongroup">
					<div class="left">
						<v:switch value="{action}">
							<v:case case="add" break="TRUE">
								<f:link.action action="index" title="Abbrechen">
									<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
								</f:link.action>
								<f:form.submit property="save" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save" title="speichern" value="" />														
								<f:form.submit property="saveAndClose" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-close" title="speichern und zur Liste" value="" />
								<f:form.submit property="saveAndNew" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-new" title="speichern und danach neuen Zeitplan anlegen" value="" />
							</v:case>
							<v:case case="edit" break="TRUE">
								<f:link.action action="index" title="Abbrechen">
									<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
								</f:link.action>
								<f:form.submit property="save" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save" title="speichern" value="" />														
								<f:form.submit property="saveAndClose" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-close" title="speichern und zur Liste" value="" />
								<f:form.submit property="saveAndNew" class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-save-new" title="speichern und danach neuen Zeitplan anlegen" value="" />
							</v:case>
							<v:case case="default">
								<f:link.action action="add" title="Neue Vorlage">
									<span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-new">&nbsp;</span>
								</f:link.action>
							</v:case>
						</v:switch>
					</div>
				</div>
			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:flashMessages renderMode="div" />				
					<f:render section="content" />
				</div>
			</div>
		</f:form>
	</div>
</f:be.container>