{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div class="well well-sm well-membership">
	<div class="row">
		<div class="col-sm-8">
			<strong>{item.feUser.autoName}</strong> möchte der Gruppe <strong>{item.feGroup.title}</strong> beitreten.
		</div>
		<div class="col-sm-2">
			<f:link.action action="rejectMembership" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.feUser.autoName,data-group:item.feGroup.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_admin_groups.confirm_membership')}" class="reject-membership pull-right">
				<button type="button" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove icon-button"></span>
					{f:translate(key: 'pi5.action_list_admin_groups.reject_membership')}			
				</button>
			</f:link.action>
		</div>
		<div class="col-sm-2">
			<f:link.action action="confirmMembership" noCache="1" arguments="{item:item.uid,returnUrl:returnUrl}" additionalAttributes="{data-user:item.feUser.autoName,data-group:item.feGroup.title}" id="{v:system.uniqId()}" title="{f:translate(key: 'pi5.action_list_admin_groups.confirm_membership')}" class="confirm-membership pull-right">
				<button type="button" class="btn btn-success">
					<span class="glyphicon glyphicon-ok icon-button"></span>
					{f:translate(key: 'pi5.action_list_admin_groups.confirm_membership')}			
				</button>
			</f:link.action>
		</div>
	</div>
</div>