{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Pi2" />

<f:section name="main">	
	<div class="tx-moox-community-login">					
		<div class="well well-login center-block">
			<f:form class="form-vertical" action="{action}" controller="Pi2" noCache="1" method="POST" name="login" id="{action}Form" object="{item}">
				<f:render partial="Pi2/Login/Form" arguments="{_all}" />
				<div class="form-buttons form-buttons-bottom clearfix">					
					<f:form.button type="submit" class="btn btn-primary btn-block" title="{f:translate(key: 'pi2.action_login.login')}">		
						<span class="glyphicon glyphicon-log-in icon-button"></span>
						{f:translate(key: 'pi2.action_login.login')}							
					</f:form.button>											
				</div>
				<f:if condition="{settings.registerPid}>0">
					<div class="well well-sm well-register">					
						<f:link.page pageUid="{settings.registerPid}">
							{f:translate(key: 'pi2.action_login.register')}														
						</f:link.page>
					</div>
				</f:if>
				<f:if condition="{settings.passwordRecoveryPid}>0">
					<div class="well well-sm well-recovery">				
						<f:link.page pageUid="{settings.passwordRecoveryPid}">
							{f:translate(key: 'pi2.action_login.recovery')}														
						</f:link.page>
					</div>
				</f:if>
			</f:form>
		</div>			
	</div>
</f:section>