{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxCommunity\ViewHelpers}
<v:variable.set name="telephone" value="{m:getValue(item:item,field:'telephone')}" />
<v:variable.set name="fax" value="{m:getValue(item:item,field:'fax')}" />
<v:variable.set name="email" value="{m:getValue(item:item,field:'email')}" />
<v:variable.set name="www" value="{m:getValue(item:item,field:'www')}" />
<v:variable.set name="show" value="{telephone}{fax}{email}{www}" />
<v:variable.set name="label" value="list.{field.key}" />
<f:if condition="{field.config.extkeyUCC}!=''">
	<f:then>
		<v:variable.set name="label" value="{f:translate(key: label, extensionName:field.config.extkeyUCC)}" />			
	</f:then>
	<f:else>
		<v:variable.set name="label" value="{f:translate(key: label)}" />
	</f:else>
</f:if>
<f:if condition="{label}==''">
	<f:if condition="{field.config.extkeyUCC}!=''">
		<f:then>
			<v:variable.set name="label" value="{f:translate(key: field.label, extensionName:field.config.extkeyUCC)}" />	
		</f:then>
		<f:else>
			<v:variable.set name="label" value="{f:translate(key: field.label)}" />
		</f:else>
	</f:if>		
</f:if>
<f:if condition="{label}==''">
	<v:variable.set name="label" value="{field.key}" />
</f:if>
<f:if condition="{show}!=''">
	<div class="panel panel-default">
		<div class="panel-heading">{label}</div>
		<div class="panel-body">
			<f:if condition="{telephone}!=''">
				{f:translate(key: 'form.telephone')}: {telephone}<br />
			</f:if>
			<f:if condition="{fax}!=''">
				{f:translate(key: 'form.fax')}: {fax}<br />
			</f:if>
			<f:if condition="{email}!=''">
				{f:translate(key: 'form.email')}: {email}<br />
			</f:if>
			<f:if condition="{www}!=''">
				{f:translate(key: 'form.www')}: {www}<br />
			</f:if>
		</div>
	</div>
</f:if>