{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace m=DCNGmbH\MooxMarketplace\ViewHelpers}
<v:variable.set name="label" value="{f:translate(key: 'form.full_name')}" />
<v:variable.set name="first_name" value="{m:getValue(item:item,field:'first_name')}" />
<v:variable.set name="last_name" value="{m:getValue(item:item,field:'last_name')}" />
<v:variable.set name="title" value="{m:getValue(item:item,field:'title')}" />
<div class="panel panel-default">
	<div class="panel-heading">{label}</div>
	<div class="panel-body">
		<f:if condition="{title}!=''">{title} </f:if>{first_name} {last_name}
	</div>
</div>