{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	
	<f:if condition="{adminUser.uid}">		
		
		<div class="tx-moox-community-tabs">			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 style="margin-top:0px">{f:translate(key: 'tx_mooxcommunity_frontenduser.header_tab')}</h3>					
				</div>
				<div class="panel-body">
					<div class="btn-group">												
						<f:link.action action="profile" style="float:left" title="{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.editprofile')}">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-pencil"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.editprofile')}
							</button>
						</f:link.action>
						<f:link.action action="list" style="float:left" title="{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.showusers')}">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-list"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.showusers')}
							</button>
						</f:link.action>
						<button type="button" class="btn btn-success active" title="{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.adduser')}">
							<span class="glyphicon glyphicon-plus"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.adduser')}
						</button>						
					</div>
				</div>
			</div>
		</div>
		<div class="tx-moox-community-add">		
			<div class="tx-moox-community-form">
				<f:form action="add" arguments="{do: 'save'}" controller="FrontendUser" noCache="1" method="POST" name="tx-moox-community-add-form">
					<div class="tx-moox-community-form-buttons">
						<f:link.action action="list" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.cancel')}">
							<button type="button" class="btn btn-warning">
								<span class="glyphicon glyphicon-arrow-left"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.cancel')}
							</button>
						</f:link.action>					
						<f:form.button type="submit" class="btn btn-success" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.save')}">		
							<span class="glyphicon glyphicon-floppy-saved"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.save')}							
						</f:form.button>															
					</div>
					<f:render partial="FrontendUser/InnerForm" arguments="{_all}" />
					<div class="tx-moox-community-form-buttons">
						<f:link.action action="list" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.cancel')}">
							<button type="button" class="btn btn-warning">
								<span class="glyphicon glyphicon-arrow-left"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.cancel')}
							</button>
						</f:link.action>					
						<f:form.button type="submit" class="btn btn-success" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.save')}">		
							<span class="glyphicon glyphicon-floppy-saved"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_add.save')}							
						</f:form.button>																	
					</div>
				</f:form>
			</div>		
		</div>		
	</f:if>

</f:section>