{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	
	<div class="tx-moox-community-tabs">							
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 style="margin-top:0px">{f:translate(key: 'tx_mooxcommunity_frontenduser.header_tab')}</h3>					
			</div>
			<div class="panel-body">
				<div class="btn-group">												
					<f:link.action action="profile" style="float:left" title="{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.editprofile')}">
						<button type="button" class="btn btn-default">
							<span class="glyphicon glyphicon-pencil"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.editprofile')}
						</button>
					</f:link.action>
					<button type="button" class="btn btn-default active" title="{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.showusers')}">
						<span class="glyphicon glyphicon-list"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser.tabs.showusers')}
					</button>					
				</div>
			</div>
		</div>
	</div>
	<div class="tx-moox-community-edit">		
		<div class="tx-moox-community-form">
			<f:form action="edit" arguments="{do: 'save'}" controller="FrontendUser" noCache="1" method="POST" name="tx-moox-community-edit-form" additionalAttributes="{role: 'form', data-toggle: 'validator'}">
				<div class="tx-moox-community-form-buttons">
					<f:link.action action="list" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.cancel')}">
						<button type="button" class="btn btn-warning">
							<span class="glyphicon glyphicon-arrow-left"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.cancel')}
						</button>
					</f:link.action>
					<f:link.action action="edit" arguments="{editUser:frontendUser}" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.reload')}">
						<button type="button" class="btn btn-info">
							<span class="glyphicon glyphicon-refresh"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.reload')}
						</button>
					</f:link.action>
					<f:form.button type="submit" class="btn btn-success" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.save')}">		
						<span class="glyphicon glyphicon-floppy-saved"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.save')}							
					</f:form.button>															
				</div>
				<f:render partial="FrontendUser/InnerForm" arguments="{_all}" />
				<div class="tx-moox-community-form-buttons">
					<f:link.action action="list" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.cancel')}">
						<button type="button" class="btn btn-warning">
							<span class="glyphicon glyphicon-arrow-left"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.cancel')}
						</button>
					</f:link.action>
					<f:link.action action="edit" arguments="{editUser:frontendUser}" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.reload')}">
						<button type="button" class="btn btn-info">
							<span class="glyphicon glyphicon-refresh"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.reload')}
						</button>
					</f:link.action>
					<f:form.button type="submit" class="btn btn-success" title="{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.save')}">		
						<span class="glyphicon glyphicon-floppy-saved"></span> &nbsp;{f:translate(key: 'tx_mooxcommunity_frontenduser_action_edit.save')}							
					</f:form.button>																	
				</div>
			</f:form>
		</div>		
	</div>

</f:section>