<p>Der Benutzer "{friend.auto_name}" will sich mit Ihnen befreunden.</p>
<p>Zum Bestätigen oder zum Ablehnen der Anfrage besuchen Sie Ihre Freunde-Seite</p>
<f:if condition="{url}!=''">
	<p><a href="{url}">Zur Freunde-Seite</a></p>
</f:if>