<p>Sie erhalten diese Email als Gruppen-Administrator der Gruppe "{group.title}"</p>
<p>Benutzer "{member.auto_name}" will Mitglied der Gruppe "{group.title}" werden.</p>
<p>Zum Bestätigen oder zum Ablehnen der Anfrage besuchen Sie Ihre Gruppen-Administrations-Seite:</p>
<f:if condition="{url}!=''">
	<p><a href="{url}">Zur Gruppen-Administrations-Seite</a></p>
</f:if>